// About Area
section.about-area.about4.section-padding-0-120.bg-gray
    .container
        .row.align-items-center.justify-content-between
            // About Us Content Area
            .col-12.col-lg-6
                .aboutUs-content.mt-120.pr-5
                    .section-heading.mb-5
                        h6 Sobre Nós
                        h2 FORCE ONE
                        p A equipe da Force One por anos tem trabalhado com as mais respeitadas e reconhecidas empresas do mundo. Lideramos a implementação de plataformas de relacionamento com o cliente – CRM. Buscamos expandir nossas parcerias que combinam conhecimento de negócios com criatividade para entregar resultados excepcionais, ao trazer uma metodologia personalizada com foco no cliente.
                                
            // About Us Thumbnail Area
            .col-12.col-lg-6
                .aboutUs-thumbnail.mt-120
                    img.w-100(src='img/bg-img/force+sale.png' alt="")