// Cookie Alert Area
.cookiealert.mb-0(role="alert")
    p Esse site usa cookies. Nós usamos cookies para garantir que você tenha a melhor experiência no nosso site. Para mais detalhes, veja nossa  
        a(href="#" target="_blank")  Política de Privacidade.
    button.btn.btn-primary.acceptcookies(type="button" aria-label="Close") Concordo