// FAQ Area
.faq--area.section-padding-120-70    
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-lg-6
                .faq-content.mb-50
                    h2 Trabalhe Conosco
                    
                    .accordion.faq--accordian#faqaccordian.mt-5
                        // Single FAQ
                        .card.border-0
                            p Na Force One desenvolvemos um ambiente altamente colaborativo e que valoriza muito o desenvolvimento pessoal. Vem crescer conosco!
                            h5 Vagas disponíveis!
                                    
            .col-12.col-lg-6
                .faq--thumbnail.mb-50
                    img(src="img/bg-img/work-force.png" alt="")