// Footer Area
footer.footer-area.footer2.section-padding-120
    .container
        .row.justify-content-between
            // Footer Widget Area
            .col-12.col-sm-10.col-lg-3
                .footer-widget-area.mb-70
                    a.d-block.mb-4(href="index.html")
                        img(src="img/core-img/force-one-logo-white.png" alt="")
                    p "Quando você muda, tudo muda ao seu redor"
                    
                    .newsletter-form
                        form(action="#")
                            input.form-control(type="email" placeholder="Digite seu email e aperte enter")
                            button.btn.d-none(type="submit") Go
                    
                    .footer-social-icon.d-flex.align-items-center
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Facbook")
                            i.fa.fa-facebook
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Twitter")
                            i.fa.fa-twitter
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Instagram")
                            i.fa.fa-instagram
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Linkedin")
                            i.fa.fa-linkedin
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Youtube")
                            i.fa.fa-youtube
                            
                            
            // Footer Widget Area
            .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
                .footer-widget-area.mb-70
                    h5.widget-title 
                    ul
                        li
                            a(href="#" target="_blank") 
                        li
                            a(href="#" target="_blank") 
                        li
                            a(href="#" target="_blank") 
                        li
                            a(href="#" target="_blank") 
                        li
                            a(href="#" target="_blank") 
                        li
                            a(href="#" target="_blank") 

    .container
        .row.align-items-center
            .col-12.col-md-6.col-lg-5
                // Copywrite Text
                .footer--content-text
                    p.mb-0
                        | All rights reserved by 
                        a(href="#" target="_blank") Force One Team
            
            .col-12.col-md-6.col-lg-5
                // Footer Nav
                .footer-nav
                    ul.d-flex
                        li
                            a(href="#" target="_blank") Home
                        li
                            a(href="#" target="_blank") Sobre
                        li
                            a(href="#" target="_blank") Serviços
                        li
                            a(href="#" target="_blank") Parceiros
                        li
                            a(href="#" target="_blank") Clientes
                        li
                            a(href="#" target="_blank") Contato
            


// All JavaScript Files
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="js/jquery.min.js")
script(src="js/default/classy-nav.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/default/jquery.scrollup.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/imagesloaded.pkgd.min.js")
script(src="js/default/isotope.pkgd.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/jquery.animatedheadline.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/wow.min.js")
script(src="js/jarallax.min.js")
script(src="js/jarallax-video.min.js")
script(src="js/default/cookiealert.js")
script(src="js/default/jquery.passwordstrength.js")
script(src="js/default/mail.js")
script(src="js/default/active.js")