// Header Area
header.header-area
  .container
    .classy-nav-container.breakpoint-off
      nav#saasboxNav.classy-navbar.justify-content-between
        // Logo
        a.nav-brand.mr-5(href="index.html")
          img(src="img/core-img/force-one-logo-white.png" alt="")
        // Navbar Toggler
        .classy-navbar-toggler
          span.navbarToggler
            span
            span
            span
            span
        // Menu
        .classy-menu
          // close btn
          .classycloseIcon
            .cross-wrap
              span.top
              span.bottom
          // Nav Start
          .classynav
            ul#corenav
              li
                a(href="#home") Home

              li
                a(href="#sobre") Sobre
                
              li
                a(href="#servicos") Serviços

              li
                a(href="#parceiros") Parceiros

              li
                a(href="#clientes") Clientes

              li
                a(href="#contato") Contato
