// Service Area
section.service-area.section-padding-120.bg-gray#service
  .container            
    .row.justify-content-center.g-5
      h2 Parceiros
      
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body
            
            h4 Sales Force
            
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body            
            h4 Tinnova
      
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body            
            h4 SPS

      h2 Clientes

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body            
            h4 Embraer

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body            
            h4 Atech

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body            
            h4 Heroby


      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body            
            h4 Iveco


      